@media (max-width:991px){
  .main .text {
    padding-top: 6rem;
  }
  .main .text .desc {
    margin-block: 1.5rem;
    width: 100%;
  }
  .main .image{
    display: none;
  }
  .hero, .hero .container{
    min-height: 60vh;
  }
  .clients .clients-swiper .swiper-wrapper{
    justify-content: center;
    left: 95px;
  }
  .clients .clients-swiper .swiper-wrapper .box{
    width: 70% !important;
  }
  .features .image img {
    width: 80%;
  }
  .pricing .pricing-table .plan-item {
    margin-block: 1.6rem;
    margin-inline: auto;
    width: 100%;
  }
  .pricing .pricing-table .plan-item.active{
    transform: translateY(10px);
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
  }
  .pricing .pricing-table .plan-item .plan-body ul li{
    padding-block: .9rem;
  }
  .contact-info .box-wrapper .item{
    padding-block: 1rem;
  }
  .contact-info .box-wrapper .item:first-of-type,
  .contact-info .box-wrapper .item:nth-of-type(2){
    border-bottom: 1px solid #dee2e6;
    border-right: unset;
  }
  .form-contact-us .box-wrapper.location{
    margin-bottom: 2rem;
  }
  .blogs .blog .info .blog-date{
    top: -60px;
  }
  .blogs .blog .info {
    position: relative;
    bottom: unset;
  }
}